# Ignore node_modules to prevent copying unnecessary files
node_modules

# Ignore log files
*.log

# Ignore npm debug files
npm-debug.log*

# Ignore any local configuration files
.vscode/
.idea/

# Ignore git files
.git/

# Ignore build artifacts or temporary files
dist/
