@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

*{
    font-family: 'Source Sans Pro', sans-serif;
}
.bar {
    fill: #AB83E5; 
    transition: fill 0.3s ease; 
}

.bar:hover {
    fill: purple; 
}
